#wrapper {
  background-color: #eaeff7;  
  width: 100%;
  min-height: 100%;
}

.title {
  color:#1e306e;  
  font-weight: bold;  
}

.cart {
  margin-top: -5px;
  color:#1e306e;
}

.phone-number {
  float: right;  
  padding-top: 5px;
}

.left-area {
  float: right;  
}

.main-page {
  margin-top: -20px;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.area-1 {
  height: 800px;
  /* width: 100%; */
  background-image: url(./image/pillow1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.content-1 {
  margin-top: 250px;
  margin-left: 50px;
  display: block;
}

.slogan {
  font-size: 45px;
}

.words {
  font-size: 20px;
  padding-top: 5px;
}

.order {
  margin-bottom: 15px;
}

#hightlight {
  font-weight: bold;
  text-transform: uppercase;
}

.shop {
  background-color: #1e306e;
  color: #fff;
  padding: 15px 40px;
  border-radius: 7px;
}

.nav.navbar-nav a, .nav.phone-number a {
  color: #333;
}


#footer-part {
  width: 90%;
  margin-left: 100px;
  margin-top: 50px;
  height: 300px;
  display: -webkit-flex;
  display: flex;
}

#footer-part div {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.col1 a, .col2 a, .col3 a, .col4 a, #sitemap {
  color: grey;
  text-decoration: none;

}
.col1 a:hover, .col2 a:hover, .col3 a:hover, .col4 a:hover, #sitemap:hover {
  text-decoration: none;
  color: black;  
}
.fa-2x {
  margin-right: 10px;
  margin-bottom: 10px;
}

 
